<%- include("partials/header") -%> 
    <div class="creators">
    <% for(let x=0; x<creators.length; x++) {%>
        <div class="creator">
         <div class="creator-info">
            <div class="creator-img">&nbsp;</div>
            <div class="creator-info-basic">
               <h1> <%= creators[x].name %></h1>
               <p class="creator-profession"><%= creators[x].profession %></p>   
            </div>      
         </div>
         <div class="creator-descpription">
            <p><%= creators[x].description%></p>
            <form method="post">
                <input name="identifier" type="hidden" value= <%-creators[x].id%> />
                <button class="creator-support" type="submit">Support</button></form>   
         </div>
         </div>
         <% } %>
    </div>
<%- include("partials/footer") -%>