<%- include("partials/header") -%> 
<div class="user-page">
    <div class="sidebar">
        <div class="userProfile">
            <img class="sidebarProfilePicture" alt="" src=<%= user.image %> >
            <span class="sidebarUserName"><%= user.username %></span>
        </div>
    <div class="sidebarActions">
       <form class="sidebarForm" action="/" method="post">
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>
         <input type="hidden" name="sidebarFormIdentifier" value="feed">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Feed</a></button>
       </form>
       <form class="sidebarForm" action="" method="post">   
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>  
        <input type="hidden" name="sidebarFormIdentifier" value="setting">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink" >Setting</a></button>
       </form>
       <form class="sidebarForm" action="" method="post">
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>
        <input type="hidden" name="sidebarFormIdentifier" value="following">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Following</a></button>
       </form>
   </div>
    </div>
    <div class="body">
        <div class="searchWrapper">
            <input type="text" placeholder="find creators" class="creator-search">
        </div>
        <% if (page==="feed") { %>
            <div class="feed">
                <% post.forEach(e => { %>
                    <div class="post"> 
                    </div>
                <% }) %>
            </div>
        <% } else if(page === "setting"){ %>
            <div>
                settings
            </div>
        <% } else { %>
            <div>
                following
            </div>
        <%}%>
        
    </div>
</div>