<%- include("partials/header") -%> 
<div class="user-page">
    <div class="sidebar">
        <div class="userProfile">
            <img class="sidebarProfilePicture" alt="" src=<%= user.image %> >
            <span class="sidebarUserName"><%= user.username %></span>
        </div>
    <div class="sidebarActions">
       <form class="sidebarForm" action="" method="post">
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>
         <input type="hidden" name="sidebarFormIdentifier" value="feed">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Feed</a></button>
       </form>
       <form class="sidebarForm" action="" method="post">   
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>  
        <input type="hidden" name="sidebarFormIdentifier" value="setting">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink" >Setting</a></button>
       </form>
       <form class="sidebarForm" action="" method="post">
        <input type="hidden" name="userIdentifier" value=<%= user.username %>>
        <input type="hidden" name="sidebarFormIdentifier" value="following">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Following</a></button>
       </form>
   </div>
    </div>
    <div class="userBody">
        <h2 class="logo-small"> You<span class="birr">Birr</span></h2>
        <% if (page==="feed") { %>
            <div class="searchWrapper">
                <input type="text" placeholder="find creators" class="creator-search">
            </div>
            <div class="feed">
                <% post.forEach(e => { %>
                    <div class="post">
                        <div class="postWrapper">
                            <div class="postTop">
                                <div class="postTopLeft">
                                    <img alt="" class="postProfileImg" src=<%= e.image %> />
                                    <span class="postUsername"><%= e.username %></span>
                                    <span class="postDate"><%= e.date %></span>
                                </div>
                                <div class="postTopRight">
                                    ...
                                </div>
                            </div>
                            <div class="postCenter">
                                <span class="postText"><%= e.desc %></span>
                                <img alt="" class="postImg" src=<%= e.image %> />
                            </div>  
                            <div class="postBottom">
                                 <div class="postBottomLeft">
                                    <img src="images/yellow.png" alt="" class="likeIcon"/>
                                    <img src="images/yellow.png" alt="" class="likeIcon"/>
                                    <span class="postLikeCounter"><%= e.like %> people liked so far</span>
                                 </div>
                                 <div class="postBottomRight">
                                    <span class="postCommentText"><%= e.comment %> comments</span>
                                 </div>
                            </div>
                        </div>    
                    </div>
                <% }) %>
            </div>
        <% } else if(page === "setting"){ %>
            <div class="settingWrapper">
                <div class="setting">
                    <form class="settingForm" action="/" method="post">
                        <input type="hidden" name="settingIdentifier" value="picture">
                        <div class="settingImageContainer">
                            <label for="id" class="file-upload">
                                Choose id
                            </label>
                            <div>
                                <input required class- id="id" type="file"/>
                            </div>
                        </div>    
                        <button type="submit" class="profileChangebtn">Change</button>             
                    </form>
                </div>
            </div>
        <% } else { %>
            <div>
                following
            </div>
        <%}%>
        
    </div>
</div>