<%- include("../partials/header") -%> 
<div class="user-page">
    <div class="sidebar">
        <div class="userProfile">
            <img class="sidebarProfilePicture" alt="" src=<%= creator.image %> >
            <span class="sidebarUserName"><%= creator.username %></span>
        </div>
    <div class="sidebarActions">
       <form class="sidebarForm" action="/creator" method="post">
        <input type="hidden" name="userIdentifier" value=<%= creator.username %>>
         <input type="hidden" name="formIdentifier" value="feed">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Post</a></button>
       </form>
       <form class="sidebarForm" action="/creator" method="post">   
        <input type="hidden" name="userIdentifier" value=<%= creator.username %>>  
        <input type="hidden" name="formIdentifier" value="setting">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink" >Setting</a></button>
       </form>
       <form class="sidebarForm" action="/creator" method="post">
        <input type="hidden" name="userIdentifier" value=<%= creator.username %>>
        <input type="hidden" name="formIdentifier" value="account">
         <button class="sidebarBtn" type="submit"><a class="sidebarLink">Account</a></button>
       </form>
    </div>
    </div>
    <div class="creatorBody">
    